{% extends "base.html" %}

{% block title %}
New Task
{% endblock %}

{% block headers %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tm/new_task.css' %}">
{% endblock %}

{% block content %}
<h1 style="margin-left: 2rem">Create a new task:</h1>
{% for error in errors %}
<p style="color:red">{{ error }}</p>
{% endfor %}
<form method="POST" action="{% url 'new_task' %}" id="main_form">
    {% csrf_token %}
    <div style="margin: 0 auto">
    <table>
        <tr>
            <td>{{ form.title.label }}</td><td>{{ form.title }}</td>
        </tr>
        <tr>
            <td><label for="id_deadline_date">
                <label for="id_deadline_time">Deadline: </label>
            </label></td>
            <td>
                <input type="date" name="deadline_date" id="id_deadline_date" value="{% now 'Y-m-d' %}" class="form-control" />
                <input type="time" name="deadline_time" id="id_deadline_time" value="{% now 'H:i' %}" class="form-control" />
            </td>
        </tr>
        <tr>
            <td>{{ form.priority.label }}</td><td> {{ form.priority }}</td>
        </tr>
        <tr>
            <td>{{ form.description.label }}</td><td>{{ form.description }}</td>
        </tr>
        <tr>
            <td>{{ form.executor.label }}</td><td>{{ form.executor }}</td>
        </tr>
    </table>
    </div>
    <input type="submit" value="Create a new task!" class="btn btn-success" />
</form>

{% endblock %}