{% extends "base.html" %}

{% block headers %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'task_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'tm/comments.css' %}">
{% endblock %}

{% block title %}
{{ task.title }}
{% endblock %}

{% block content %}
<h1 style="margin-left: 5rem; margin-top: 2rem">{{ task.title }}</h1>
<table>
    <tr><td><h4>Deadline: </h4></td>
        {% if author == user %}
        <td>
            <input class="form-control" name="deadline_date" form="change_task_form" type="date" style="width:10rem !important;float: left"
                   value="{{ task.deadline|date:"Y-m-d"}}" />
            <input class="form-control" name="deadline_time" form="change_task_form" type="time" style="width:6rem !important;float:right"
                   value="{{ task.deadline|time:"H:i" }}" />
        </td>
        {% else %}
        <td style>{{ task.deadline }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>Priority: </td>
        {% if author == user %}
        <td>
            <form action="{% url 'change_task' %}" id="change_task_form" method="POST">
                {% csrf_token %}
                <select name="priority" class="form-control">
                    <option value="0" {% ifequal  task.priority 0 %} selected {% endifequal %} >Low</option>
                    <option value="1" {% ifequal  task.priority 1 %} selected {% endifequal %}>Medium</option>
                    <option value="2" {% ifequal  task.priority 2 %} selected {% endifequal %}>High</option>
                </select>
                <input type="hidden" name="id" value="{{ task.id }}" />
            </form>
        </td>
        {% else %}
        <td> {{ priority }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>Status: </td>
        <td>
            {% if author == user or executor == user%}
            <select name="status" form="change_task_form" class="form-control" style="width: 20rem !important;">
                <option value="0" {% ifequal  task.status 0 %} selected {% endifequal %} >Open</option>
                <option value="1" {% ifequal  task.status 1 %} selected {% endifequal %}>Pending for approval</option>
                {% if author == user %}
                <option value="2" {% ifequal  task.status 2 %} selected {% endifequal %}>Closed</option>
                {% endif %}
            </select>
            {% else %}
            {{ status }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            {% ifequal task.status 0 %}
            Must be solved
            {% else %}
            Solved
            {% endifequal %}
            by
        </td>
        <td>
            {% if author == user and task.status == 0 %}
            <select name="executor" form="change_task_form" class="form-control">
                {% for exec in executors %}
                {% if exec.id > 1 %}
                <option value="{{ exec.id }}" {% if exec == executor %} selected {% endif %}>
                    {{ exec.get_full_name }}
                </option>
                {% endif %}
                {% endfor %}
            </select>
            {% else %}
            {{ executor.get_full_name }}
            {% endif %}
        </td>
    </tr>
</table>
{% if author == user %}
<textarea form="change_task_form" rows="6" cols="50" name="description" class="form-control" id="change_descr">{{ task.description }}</textarea>
{% else %}
<p style="margin-left: 5rem">{{ task.description }}</p>
{% endif %}
{% if author == user or executor == user %}
<table style="margin-left: 5rem">
    <tr>
        <td>
            <button type="submit" value="change" name="submit" class="btn btn-success"  form="change_task_form" id="change_task_form_button">
                Change task
            </button>
        </td>
        <td>
            {% if author == user %}
            <button type="submit" value="delete" name="submit" class="btn btn-danger" form="change_task_form" >
                Delete task
            </button>
            {% endif %}
        </td>
    </tr>
</table>
{% endif %}
<p style="margin-left: 5rem">Stated by {{ author.get_full_name }}</p>
<br>
<br>
<p><h2 style="margin-left: 5rem">Feel free to comment:</h2></p>
<table id="comment_table">
    <tr>
        <td>
            <form method="post">
                {% csrf_token %}
                {{ comment_form.text }}
                <button type="submit" name="submit" class="btn btn-dark" value="comment" id="comment_submit">
                    Comment
                </button>
            </form>
        </td>
    </tr>
    {% for comment in comments %}
    <tr>
        <td>
            <div class="comment_info">
                <p><h3>{{ comment.author.get_full_name }}</h3></p>
                <p>{{ comment.published }}</p>
            </div>
            {% if comment.author == user %}
            <div class="comment_change_buttons">
                <form method="POST" action="{% url 'task' id=task.id %}" id="comment_{{ comment.id }}_change_form">
                    {% csrf_token %}
                    <div class="comment_delete_button"><button type="submit" name="submit" value="delete_comment" class="btn btn-outline-danger">
                        Delete
                    </button></div>
                    <div class="comment_edit_button"><button type="submit" name="submit" value="edit_comment" class="btn btn-outline-success">
                        Edit
                    </button></div>
                    <input type="hidden" id="id_cid" name="cid" value="{{ comment.id }}" />
                </form>
            </div>
            {% endif %}
        </td>
        <td>
            {% if comment.author == user %}
            <textarea name="comment_edit_text" id="id_comment_edit_text" class="form-control"
                      form="comment_{{ comment.id }}_change_form">{{ comment.text }}</textarea>
            {% else %}
            {{ comment.text }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}