{% extends "base.html" %}
{% block headers %}
<style>
    #id_status {
        width: 15rem !important;
    }
    div.switcher {
        margin-top: 0.15rem !important;
    }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
{% endblock %}
{% block content %}
<form method="get" action="{% url 'testindex' %}" style="margin-left: 5rem">
    <table>
        <tr>
            <td class="pretty p-switch p-fill">
                <input type="checkbox" name="with_my_comment" id="id_with_my_comment" value="true">
                <div class="state p-primary switcher">
                    <label for="id_with_my_comment">Tasks with my comments</label>
                </div>
            </td>
            <td class="pretty p-switch p-fill">
                <input type="checkbox" name="my_tasks" id="id_my_tasks" value="true">
                <div class="state p-primary switcher">
                    <label for="id_my_tasks">My tasks</label>
                </div>
            </td>
            <td class="pretty p-switch p-fill">
                <input type="checkbox" name="me_executor" id="id_me_executor" value="true">
                <div class="state p-primary switcher">
                    <label for="id_me_executor">Me executor</label>
                </div>
            </td>
            <td class="pretty p-switch p-fill">
            <input type="checkbox" name="over_due" autocomplete="off" id="id_over_due" value="true">
            <div class="state p-primary switcher">
                <label for="id_over_due">Over due</label>
            </div>
            </td>
            <td>
                <label for="id_status"> Status: </label>
            </td>
            <td>
                {{ filter.form.status }}
            </td>
            <td>
                <button class="btn btn-success" type="submit" id="index_filter_submit" style="margin-left: 2rem">
                    Filter
                </button>
            </td>
        </tr>
    </table>
</form>
<hr>
<div id="tasks" style="margin-left: 5rem;">
    {% for task in filter.qs %}
    <h1>
        <a href="{% url 'task' task.id %}">{{ task.title }}</a>
    </h1>
    <p>Deadline: {{ task.deadline }}</p>
    <p>Priority:
        {{ task.get_priority_display }}
    </p>
    <p>Status:
        {{ task.get_status_display }}
    </p>
    <hr>
    {% endfor %}
</div>
{% endblock %}