div.comment_info {
    float: left;
    margin-top: 2rem;
}

div.comment_change_buttons {
    width: 10rem;
    height: 10rem;
    float: right;
    margin-top: 3rem;
    text-align: right;
}

div.comment_edit_button {
    float: bottom;
}


#comment_submit {
    float: right;
}

#id_comment_edit_text {
    margin-top: 0rem;
    width: 24rem;
    height: 7rem;
}

#comment_text_form {
    width: 27rem;
    height: 7rem;
}