#id_status {
    width: 15rem !important;
}
#id_priority {
    width: 8rem !important;
}
div.switcher {
    margin-top: 0.15rem !important;
}
#priority_label {
    margin-left: 1rem;

}

div.right_arrow {
    float: right;
	width: 6vmin;
	height: 6vmin;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: rotate(-135deg);

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		border-width: .8vmin .8vmin 0 0;
		border-style: solid;
		border-color: #428bca;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
	}


	&:after {
		content: '';
		float: left;
		position: relative;
		top: -100%;
		width: 100%;
		height: 100%;
		border-width: 0 .8vmin 0 0;
		border-style: solid;
		border-color: #428bca;
		transform-origin: 100% 0;
		transition:.2s ease;
	}

	&:hover::after {
		transform: rotate(45deg);
		border-color: #5cb85c;
		height: 120%;
	}
	&:hover::before {
		border-color: #5cb85c;
		transform: scale(.8);

	}

}

div.left_arrow {
    float: left;
	width: 6vmin;
	height: 6vmin;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: rotate(-135deg);

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		border-width: .8vmin .8vmin 0 0;
		border-style: solid;
		border-color: #428bca;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
	}


	&:after {
		content: '';
		float: left;
		position: relative;
		top: -100%;
		width: 100%;
		height: 100%;
		border-width: 0 .8vmin 0 0;
		border-style: solid;
		border-color: #428bca;
		transform-origin: 100% 0;
		transition:.2s ease;
	}

	&:hover::after {
		transform: rotate(45deg);
		border-color: #5cb85c;
		height: 120%;
	}
	&:hover::before {
		border-color: #5cb85c;
		transform: scale(.8);

	}

}