#id_status {
  width: 15rem !important;
}
#id_priority {
  width: 8rem !important;
}
div.switcher {
  margin-top: 0.15rem !important;
}
#priority_label {
  margin-left: 1rem;
}

#next_page_link {
  float: right;
  margin-right: 3rem;
}

#prev_page_link {
  margin-left: 2rem;
}