#id_deadline_date {
    width: 10rem !important;
    float: left;
}

#id_deadline_time {
    width: 6rem !important;
    float: right;
}

form {
    margin-left: 2rem;
}

#id_priority {
    width: 7rem !important;
}