<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Task Manager {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'tm/base_generics.css' %}">
    {% block headers %} {% endblock %}
</head>
<body>
<div class="top_bar">
    <table style="width:98vw;">
        <tr>
            <td style="width:33vw;"><a href="{% url 'index' %}"><h1 style="margin-left: 5rem">Main Page</h1></a></td>
            <td style="width:33vw; text-align: center;"><a href="{% url 'new_task' %}"><h2>Create a new task</h2></a></td>
            {% block navbar_logplace %}
            {% if user.is_authenticated %}
            <td style="width:33vw; text-align: center">
                <p>You are logged in as {{ user.get_full_name }}</p>
                <form method="get" action="{% url 'logout' %}">
                    <button type="submit" class="btn btn-dark">Logout</button>
                </form>
            </td>
            {% else %}
            <td style="width: 17vw; text-align: right">
                <form action="{% url 'login' %}" method="get">
                    <button type="submit" value="login" class="btn btn-primary btn-lg" id="login_button">
                        Login
                    </button>
                </form>
            </td>
            <td style="text-align: left">
                <form action="{% url 'register' %}" method="get">
                    <button type="submit" value="register" class="btn btn-info btn-lg" id="register_button">
                        Sign up
                    </button>
                </form>
            </td>
            {% endif %}
            {% endblock %}
        </tr>
    </table>
    <hr>
</div>
{% block content %}
{% endblock %}
</body>
</html>