{% extends "base.html" %}

{% block navbar_logplace %}
<td style="text-align: center">
  <form action="{% url 'register' %}" method="get">
    <button type="submit" value="register" class="btn btn-info btn-lg" id="register_button">
      Sign up
    </button>
  </form>
</td>
{% endblock %}

{% block content %}

{% if form.errors %}
  <p style="text-align: center">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p style="text-align: center">Please login to see this page.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table align="center">
  <tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
  </tr>

  <tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
  </tr>
  <tr>
    <td style="text-align: right;">
      <button type="submit" class="btn btn-success">
        Login
      </button>
    </td>
  </tr>
</table>
<input type="hidden" name="next" value="{{ next }}" />
</form>


{% endblock %}