{% extends "base.html" %}

{% block title %}
Registration
{% endblock %}

{% block navbar_logplace %}
{% endblock %}

{% block content %}
<h1 style="text-align: center">Welcome to our website!</h1>
<form action="" method="post" >
    {% csrf_token %}
    {{ form.errors }}
    {% if form.errors %}
    {% for error in form.errors %}
    <p style="color: red; text-align: center">{{ error }}</p>
    {% endfor %}
    {% endif %}
    <table align="center">
        <tr><td>{{ form.username.label_tag }}</td><td>{{ form.username }}</td></tr>
        <tr><td>{{ form.first_name.label_tag }}</td><td>{{ form.first_name }}</td></tr>
        <tr><td>{{ form.last_name.label_tag }}</td><td>{{ form.last_name }}</td></tr>
        <tr><td>{{ form.email.label_tag}}</td><td>{{ form.email }}</td></tr>
        <tr><td>{{ form.password1.label_tag }}</td><td>{{ form.password1 }}</td></tr>
        <tr><td>{{ form.password2.label_tag }}</td><td>{{ form.password2 }}</td></tr>
        <tr><td></td><td style="text-align: right"><input type="submit" class="btn btn-primary" value="Sign up" /></td></tr>
    </table>
</form>



{% endblock %}